<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 co1-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="">Employee Code :</label>
                    <input type="text" class="form-control" name="code"[(ngModel)]="code">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="">Employee Name :</label>
                    <input type="text" class="form-control" name="name"[(ngModel)]="name">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="">Desigination</label>
                    <input type="text" class="form-control" name="designation"[ngModel]="designation">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="">Gender :</label>
                    <select name="gender"[(ngModel)]="gender" id="" class="form-control" >
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="">Company Name :</label>
                    <input type="text" class="form-control" name="comName"[(ngModel)]="comName">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="">Salary :</label>
                    <input type="text" class="form-control" name="salary"[(ngModel)]="salary">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="">Company Address :</label>
                    <textarea name="comAddress"[(ngModel)]="comAddress" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="">Mobile No :</label>
                    <input type="text" class="form-control" name="mobile"[(ngModel)]="mobile">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="">Company Email :</label>
                    <input type="email" name="email"[(ngModel)]="email" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="">Year Of Experience :</label>
                    <input type="text" class="form-control" name="experience"[(ngModel)]="experience">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="">Bloodgroup</label>
                    <select name="bloodGroup"[(ngModel)]="bloodGroup" id="" class="form-control">
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="">Date Of Birth :</label>
                    <input type="datetime-local" name="dob"[(ngModel)]="dob" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-primary" (click)="readValues()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>